####################################################################
#Programme écrit par V. Verdon
#Network-in est un logiciel de simulation de réseau
#placé sous licence GNU GPL (consulter le fichier joint intitulé "licence.txt"
####################################################################
# Network-in! version 2.0

# Definition des couleurs
# Colors definition
set coul(fond) #CAC1CD
set coul(note) Khaki1
set coul(texte) Grey7

# Taille initiale du bureau
# Initial desktop tail
set taille(l) 850
set taille(h) 500

# Définition de la langue (en, fr) si la définition automatique est désactivée (auto)
# Language definition (en,fr) if automatic definition is disabled (auto)
# set lang en
set lang auto

# Repertoire d'archivage par défaut des projets
# Default project archive directory
set rep_home $env(HOME)

# Repertoire de stockage du projet en cours et des fichiers d'echanges
# Directory for actual project and exchange files
set rep_proj $rep_home/network-in-proj

# Repertoire de configuration personnelle du simulateur et de stockage de systèmes additionnels
# Directory for own simulator configuration and storage of additionnal systems
set rep_conf $rep_home/.network-in

# Niveau de détails de l'interface au démarrage (1 : interface debutant ; 2 : interface complète)
# Details level when the interface starts (1 : beginner interface ; 2 : complete interface)
set niveau(defaut) 2

# Niveau maximum autorise (maximum 2 actuellement)
# Max level authorized (actually max is 2)
set niveau(max) 2


####################################################################
#Ne rien modifier ici sauf si vous etes connaisseur...
# Donc change anything here if you're not a guru...

# Prefixe pour les adresses mac
# Prefix for mac address
set mac_prefix 0a

# IP allouée à l'interface de communication avec les machines UML
# Ip allocated to the X communication interface with the virtual machines 
# Be careful to change in the file /usr/lib/network-in/bin/networkin-start too
set ip_hote 172.31.255.1
set masque_hote 255.255.255.0

# Version du noyau usermode linux
# Usermode linux kernel version
#set kernel 5.10.46
set kernel 6.1.27

# Definition du disque image par défaut
# Default image disk file definition
# set img_dd bookworm_1.0.img
set img_dd bookworm_1.02.img
