####################################################################
#Programme écrit par V. Verdon
#Network-in est un logiciel de simulation de réseau
#placé sous licence GNU GPL (consulter le fichier joint intitulé "licence.txt"
####################################################################
# Network-in! version 2.0 configuration file

# Definition des couleurs
# Colors definition
set coul(fond) #d7cad7
set coul(note) Khaki1
set coul(texte) Grey7

# Disposition des panneaux de schéma et de simulation
# Schema and simulation panels disposition
#set ::orientation vertical
set ::orientation horizontal

# Définition de la langue (en, fr) si la définition automatique est désactivée (auto)
# Language definition (en,fr) if automatic definition is disabled (auto)
# set lang en
set lang auto

# Repertoire d'archivage par défaut des projets
# Default project archive directory
set rep_home $env(HOME)

# Repertoire de stockage du projet en cours et des fichiers d'echanges
# Directory for actual project and exchange files
set rep_proj $rep_home/network-in-proj

# Repertoire de configuration personnelle du simulateur et de stockage de systèmes additionnels
# Directory for own simulator configuration and storage of additionnal systems
set rep_conf $rep_home/.network-in

# Niveau de détails de l'interface au démarrage (1 : interface debutant ; 2 : interface complète)
# Details level when the interface starts (1 : beginner interface ; 2 : complete interface)
set niveau(defaut) 2

# Niveau maximum autorise (maximum 2 actuellement)
# Max level authorized (actually max is 2)
set niveau(max) 2

# Prefixe pour les adresses mac
# Prefix for mac address
set mac_prefix 0a

# IP allouée à l'interface de communication avec les machines UML
# Ip allocated to the X communication interface with the virtual machines 
set ip_hote 172.31.255.1
set masque_hote 255.255.255.0

# Numéro d'écran pour affichage des machines
# Screen number for machines display
set screen :5
# WM manager utilisé pour la fenêtre d'affichage des machines
# WM manager used for machines display window
set ::x_wm "xfwm4 --display $::screen"

# Version du noyau usermode linux
# Usermode linux kernel version
set kernel 6.1.82

# Definition du disque image par défaut
# Default image disk file definition
# set img_dd bookworm_1.0.img
set img_dd bookworm_1.01.img
