[Unit]
Description=Network-in Simulator starting service
DefaultDependencies=no
After=systemd-remount-fs.service

[Service]
Type=forking
ExecStart=/sbin/networkin-bin/nid/nid.sh start
ExecStop=/sbin/networkin-bin/nid/nid.sh stop

[Install]
WantedBy=default.target
